/* font import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


/* banner background */

.banner-bg {
    min-height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;



}

/* style banner content */
.banner-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}



.banner-content h1 {
    color: white;
    display: flex;
    font-size: 70px;
    font-weight: 900;

}

.banner-content p {
    font-size: 50px;
    color: white;
    font-weight: 500;
}

/* secondary bg style */

.second-bg {
    height: 806px;
    width: 803px;
   
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.second-bg-content h1 {
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-family: 700;
    color: red;
    margin-bottom: 30px;
}

.second-bg-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.second-bg-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.image-content {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}
.image-content img{
    height: 100%;
    width: 100%;
}